.navbar{
  margin-bottom: 0px;
}
.full-img{
  width: 100%;
}
.body{
  position: relative;
}
#search-form{
  width: 80%;
  position: absolute;
  top: 70%;
  left: 10%;
  form{
    padding-left: 20%;
    .btn{
      border-radius: 0;
    }
  }
}
#UpComEv{
  position: absolute;
  padding-top: 50px;
}
#cat{
  position: absolute;
  padding-top: 80%;
  .col-md-6{
    background: url(/img/rotaract-full-img.jpg);
    height: 200px;
    width: 500px;
    margin: 10px;
    p{
      color: #fff;
      font-weight: bold;
      font-size: 34px;
  
    }
  }
}
